*{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    background-color: #edede9;
    
}

h1, h2{
    text-align: center;
}

table{
    table-layout:fixed;
    width: 1000px;
    height: 700px;
    border-collapse: collapse;
    border: 3px solid;
    margin:auto;
}

td, th{
    background-color: antiquewhite;
    border: 3px solid #d5bdaf;
    padding: 12px 8px;
}

td.cellColor{
    background-color: #e3d5ca;
}

.properties{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: midnightblue;
    white-space: nowrap;
}

.values{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: saddlebrown;
}
